* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
}

.first,
.second,
.third,
.fourth,
.fifth,
.sixth,
.seventh,
.eight {
  width: 82%;
  /* background-color: aqua; */
  margin: 50px auto;
  padding: 10px;
  text-align: center;
  border-radius: 16px;
}

.first {
  height: 520px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(resources/Banner\ Image.png);
  background-size: 100% 100%;
  color: white;
  font-family: "Merriweather", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first-first-p {
  font-size: 2rem;
  font-weight: 400;
}

.header {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 95px;
}

.second-first-p {
  color: #f00;
  font-family: "Inter", sans-serif;
  text-shadow: none;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.second-second-p {
  color: #f00;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.second-third-p {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
}

.second img {
  margin-top: 20px;
  width: 50%;
}

.third {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(resources/Vectorrr.png);
  background-size: 100% 100%;
  height: 500px;
  color: white;
  display: flex;
  text-align: start;
  padding: 70px 100px;
  gap: 40px;
}

.third-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.third-first-first-p {
  font-family: "Merriweather", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  text-transform: capitalize;
  line-height: normal;
}

.third-first-second-p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.third button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 90px;
  text-transform: uppercase;
}

.third button:hover {
  font-size: 20px;
  width: 100px;
}

.third img {
  width: 30%;
}

.fourth {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  height: 350px;
  padding-top: 100px;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 40px;
}

.fourth span {
  color: #f00;
}

.fourth button {
  background-color: red;
  color: white;
  border: none;
  padding: 12px 25px;
  font-weight: 600;
  border-radius: 10px;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 30px;
  cursor: pointer;
}

.fifth {
  display: flex;
  justify-content: space-between;
  height: 350px;
}

.fifth-first {
  width: 33%;
  text-align: start;
  padding: 10px 20px;
}

.fifth-first-first {
  margin-top: 35px;
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.fifth-first-second {
  margin-top: 10px;
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
}

.fifth-first-third {
  margin-top: 10px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.fifth-second {
  border: 8px solid red;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: grid;
  place-items: center;
}

.fifth-second img {
  width: 80%;
  height: 80%;
  cursor: pointer;
}

.fifth-second img:hover {
  width: 95%;
  height: 95%;
}

.fifth-third {
  width: 33%;
  text-align: start;
  padding: 10px 20px;
  padding-left: 70px;
}

.fifth-third-first {
  margin-top: 40px;
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.fifth-third-second {
  margin-top: 10px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 160% */
}

.fifth-third img {
  margin-top: 25px;
  width: 100px;
  height: 100px;
}

.sixth {
  margin-top: 0px;
  padding-left: 0;
  padding-right: 0;
}

.sixth-first {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.sixth-second {
  margin-top: 10px;
  font-family: "Merriweather", serif;
  font-size: 55px;
  font-weight: 900;
  text-transform: capitalize;
}

.sixth-second span {
  color: #f00;
}

.sixth-third {
  margin-top: 14px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.sixth-fourth {
  margin-top: 30px;
  position: relative;
  height: 500px;
}

.shoppingGirl {
  position: absolute;
  width: 340px;
  height: 360px;
  right: 0;
  top: 0;
}

.redFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 170px;
  width: 100%;
}

.giftBox {
  position: absolute;
  left: 20px;
  bottom: 20px;
  height: 450px;
  width: 550px;
}

.salesBadge {
  position: absolute;
  height: 240px;
  width: 240px;
  right: 220px;
  top: 60px;
}

.seventh {
  padding-left: 0;
  padding-right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: start;
}

.seventh > div {
  grid-column: span 2;
}

.seventh-first-p {
  margin-top: 30px;
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.seventh-second-p {
  font-family: "Merriweather", serif;
  font-size: 38px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 8px;
}

.seventh-third-p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  margin: 15px 0;
}
.seventh img {
  padding: 10px;
  cursor: pointer;
}

.seventh img:hover {
  padding: 0px;
}

.eight {
  background: rgba(255, 0, 0, 0.05);
  padding: 60px 120px;
}

.eight img {
  margin-top: 20px;
  width: 120px;
  height: 120px;
}

.eight-first {
  font-family: "Merriweather", serif;
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 20px;
}

.eight-second {
  margin-top: 15px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
}

.textBox {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.textBox input {
  padding: 15px 40px;
  color: rgba(7, 2, 17, 0.6);
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.textBox button {
  background-color: red;
  padding: 15px 30px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  color: white;
  text-transform: capitalize;
  font-weight: 700;
  cursor: pointer;
}

.footer {
  margin-top: 100px;
  background-color: #070211;
  color: white;
  padding: 100px 90px;
  padding-bottom: 60px;
}

.footer-first {
  display: flex;
  justify-content: space-between;
}

.footer-first > p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.contact {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 4px 0;
}
.contact img {
  height: 30px;
  width: 30px;
}

.contact p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}
hr {
  margin: 20px 0;
}

.footer-second {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-img {
  height: 50px;
  width: 50px;
}

.footer-third {
  display: flex;
  justify-content: space-between;
}

.footer-third {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}

.footer-third a {
  text-decoration: none;
  color: white;
}

hr {
  border-color: rgba(255, 255, 255, 0.15);
}

button:hover {
  background-color: #070211;
}
